
@use '../abstracts/breakpoints' as *;

.card {
	display: flex;
	flex-direction: column;
	max-width: 450px;
	margin: 0.5rem;
	padding: 0;
	border-radius: 0.75rem;
	overflow: auto;

	@media (min-width: 800px) {
		flex-direction: row;
		max-width: 1000px;
	}
}